{% extends 'bootstrap4.html.twig' %}

{% block body %}

<div class="container">
            
    
    <div class="row">
        
        <div class="col-sm-8">
        
            <h1>PDF-Pages</h1>
            {% for page in pdf_pages %}
            
            <div class="card">
                <div class="card-header">
                    <h3>Page {{ loop.index }}</h3>
                    
                    <span><a href="/extract/{{ loop.index }}">Extract</a></span>
                    <span><a href="/screenshot/{{ loop.index }}">Screenshot</a></span>
                    <span><a href="/moveup/{{ loop.index }}">Move Up</a></span>
                    <span><a href="/movedown/{{ loop.index }}">Move Down</a></span>
                    <span><a href="/delete/{{ loop.index }}">Delete</a></span>
                    
                </div>
                <div class="card-block">
                    <img src="/{{ page }}" alt="Page {{ loop.index }}">
                </div>                
            </div>
            
            {% endfor %}    
             
       
        </div>
        <div class="col-sm-4" id="sidebar">
        
            <h2>File Infos</h2>
            Filename: {{ pdf_original_filename }}<br>
            Filesize: {{ pdf_filesize }} Bytes<br>
            No. of Pages: {{ pdf_pages|length }}
        </div>
        
    </div>
        
</div>
{% endblock %}


