{% extends 'bootstrap4.html.twig' %}

{% block body %}

<div class="container">
            
    {% if app.session.flashBag.has('error') %}
    <div class="alert alert-danger" role="alert">
        {% for msg in app.session.flashBag.get('error') %}
            {{ msg }}
        {% endfor %}
    </div>
    {% endif %}
    
    <div class="row">
        
        <div class="col-sm-9">
        
            <h1>Übersicht Seiten</h1>
            {% for page in pdf_pages %}
            
            <div class="card">
                <div class="card-header">
                    <h3>Seite {{ loop.index }}</h3>
                    
                    <span><a href="/extract/{{ loop.index }}">Extrahieren als PDF</a></span>
                    <span><a href="/screenshot/{{ loop.index }}">Screenshot</a></span>
                    <span><a href="/moveup/{{ loop.index }}">Nach oben</a></span>
                    <span><a href="/movedown/{{ loop.index }}">Nach unten</a></span>
                    <span><a href="/delete/{{ loop.index }}">Löschen</a></span>
                    
                </div>
                <div class="card-block">
                    <img src="/{{ page }}" alt="Page {{ loop.index }}">
                </div>                
            </div>
            
            {% endfor %}    
             
       
        </div>
        <div class="col-sm-3" id="sidebar">
        
            <h2>Infos zur Datei</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong class="label">Dateiname:</strong> {{ pdf_original_filename }}
                </li>
                <li class="list-group-item">
                    <strong class="label">Dateigröße:</strong> {{ pdf_filesize }}
                </li>
                <li class="list-group-item">
                    <strong class="label">Anzahl Seiten:</strong> {{ pdf_pages|length }}
                </li>
            </ul>
            
            <div class="download">
                <a href="/download/" class="btn btn-primary">Download PDF</a>
            </div>
            
        </div>
        
    </div>
        
</div>
{% endblock %}


