{% extends 'bootstrap4.html.twig' %}

{% block body %}

<div class="container">
            
    <div class="row">
        
        <div class="col-sm-9">
        
            <h1>Übersicht Seiten</h1>
            
            {% if app.session.flashBag.has('error') %}
                {% for msg in app.session.flashBag.get('error') %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span> </button>
                    {{ msg }}
                </div>
                {% endfor %}
            {% endif %}
            {% if app.session.flashBag.has('success') %}
                {% for msg in app.session.flashBag.get('success') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span> </button>
                    {{ msg }}
                </div>
                {% endfor %}
            {% endif %}
            
            {% for page in pdf_pages %}
            
            <div class="card">
                <div class="card-header">
                    <h3 class="float-left">Seite {{ loop.index }}</h3>
                    <div class="btn-group float-right" role="group" aria-label="Aktionen für Seite {{ loop.index }}">
                        <a href="/extract/{{ loop.index }}" class="btn btn-secondary"><i class="fa fa-file-pdf-o"></i> Extrahieren</a>
                        <a href="/screenshot/{{ loop.index }}" class="btn btn-secondary"><i class="fa fa-file-image-o"></i> Screenshot</a>
                        <a href="/moveup/{{ loop.index }}" class="btn btn-secondary {% if loop.index == 1 %}disabled{% endif %}"><i class="fa fa-arrow-up"></i> Nach oben</a>
                        <a href="/movedown/{{ loop.index }}" class="btn btn-secondary {% if loop.index == pdf_pages|length %}disabled{% endif %}"><i class="fa fa-arrow-down"></i> Nach unten</a>
                        <a href="/delete/{{ loop.index }}" class="btn btn-secondary {% if pdf_pages|length == 1 %}disabled{% endif %}" onclick="return confirm('Wollen Sie die Seite {{ loop.index }} wirklich löschen?');"><i class="fa fa-trash"></i> Löschen</a>
                    </div>
                </div>
                <div class="card-block">
                    <div class="screenshot">
                        <img src="/{{ page }}" alt="Page {{ loop.index }}">
                    </div>
                </div>                
            </div>
            
            {% endfor %}    
             
       
        </div>
        <div class="col-sm-3">
        	<div class="sticky-top">
        
	            <h2>Infos zur Datei</h2>
	            <ul class="list-group">
	                <li class="list-group-item">
	                    <strong class="label">Dateiname:</strong> {{ pdf_shorten_filename }}
	                </li>
	                <li class="list-group-item">
	                    <strong class="label">Dateigröße:</strong> {{ pdf_filesize }}
	                </li>
	                <li class="list-group-item">
	                    <strong class="label">Seitenzahl:</strong> {{ pdf_pages|length }}
	                </li>
	            </ul>
	            
	            <div class="download">
	                <a href="/download/" class="btn btn-primary">
	                    <i class="fa fa-download" aria-hidden="true"></i> Download PDF
	                </a>
	            </div>
            </div>
            
        </div>
        
    </div>
        
</div>
{% endblock %}


