{% extends 'bootstrap4.html.twig' %}

{% block body %}

<div class="container my-lg-5">

	<div class="d-flex justify-content-between">
		<h1 class="h2">RearrangePDF</h1>
		<span>
			<a href="https://github.com/bandemer/rearrangepdf" class="btn btn-secondary py-2"><i class="fa fa-fw fa-github" aria-hidden="true"></i> View on GitHub</a>
		</span>
	</div>
	<hr>

	{%  if errors %}
	<div class="alert alert-danger" role="alert">
		<h2 class="h4">The requirements on the server are not met:</h2>
		<ul>
		{% for e in errors %}
			<li>{{ e }}</li>
		{% endfor %}
		</ul>
	</div>
	{% else %}

	<div class="jumbotron bg-light border px-lg-5">
	    <h2 class="h4 my-4">Upload PDF-File</h2>
	        
	    {% if app.session.flashBag.has('error') %}
	    <div class="alert alert-danger" role="alert">
	        {% for msg in app.session.flashBag.get('error') %}
	            {{ msg }}
	        {% endfor %}
	    </div>
	    {% endif %}

	    {{ form_start(form) }}
	    {{ form_widget(form) }}
	    {{ form_end(form) }}
    </div>
	{% endif %}
        
</div>
{% endblock %}


