{% extends 'bootstrap4.html.twig' %}

{% block body %}

<div class="container-fluid">
            

        <div class="bg-light border-right px-3 py-3 py-lg-5 w-25 h-100" style="position:fixed;">

                <h2>{% trans %}File infos{% endtrans %}</h2>
                <ul class="list-group">
                    <li class="list-group-item">
                        <strong class="label">{% trans %}File name:{% endtrans %}</strong> {{ pdf_shorten_filename }}
                    </li>
                    <li class="list-group-item">
                        <strong class="label">{% trans %}File size:{% endtrans %}</strong> {{ pdf_filesize }}
                    </li>
                    <li class="list-group-item">
                        <strong class="label">{% trans %}Number of pages:{% endtrans %}</strong> {{ pdf_pages|length }}
                    </li>
                </ul>

                <div class="download">
                    <a href="/download/" class="btn btn-primary">
                        <i class="fa fa-download" aria-hidden="true"></i> {% trans %}Download PDF{% endtrans %}
                    </a>
                </div>
        </div>

        <div class="w-75 px-5" style="margin-left:25%;">

                {% if app.session.flashBag.has('error') %}
                    {% for msg in app.session.flashBag.get('error') %}
                    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span> </button>
                        {{ msg }}
                    </div>
                    {% endfor %}
                {% endif %}
                {% if app.session.flashBag.has('success') %}
                    {% for msg in app.session.flashBag.get('success') %}
                    <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="{% trans %}Close{% endtrans %}">
                        <span aria-hidden="true">&times;</span> </button>
                        {{ msg }}
                    </div>
                    {% endfor %}
                {% endif %}

                {% for page in pdf_pages %}

                <div class="card">
                    <div class="card-header">
                        <h3 class="float-left">{% trans %}Page{% endtrans %} {{ loop.index }}</h3>

                        <div class="btn-group float-right" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% trans %}Actions{% endtrans %}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                                <a href="/extract/{{ loop.index }}" class="dropdown-item"><i class="fa fa-file-pdf-o"></i> {% trans %}Extract page as PDF{% endtrans %}</a>
                                <a href="/screenshot/{{ loop.index }}" class="dropdown-item"><i class="fa fa-file-image-o"></i> {% trans %}Download screenshot{% endtrans %}</a>
                                <a href="/moveup/{{ loop.index }}" class="dropdown-item {% if loop.index == 1 %}disabled{% endif %}"><i class="fa fa-arrow-up"></i> {% trans %}Move page up{% endtrans %}</a>
                                <a href="/movedown/{{ loop.index }}" class="dropdown-item {% if loop.index == pdf_pages|length %}disabled{% endif %}"><i class="fa fa-arrow-down"></i> {% trans %}Move page down{% endtrans %}</a>
                                <a href="/rotate/left/{{ loop.index }}" class="dropdown-item"><i class="fa fa-rotate-left"></i> {% trans %}Rotate 90° left{% endtrans %}</a>
                                <a href="/rotate/right/{{ loop.index }}" class="dropdown-item"><i class="fa fa-rotate-right"></i> {% trans %}Rotate 90° right{% endtrans %}</a>
                                <a href="/delete/{{ loop.index }}" class="dropdown-item {% if pdf_pages|length == 1 %}disabled{% endif %}" onclick="return confirm('{% trans with { '%number%': loop.index } %}Do you really want to to delete page %number%?{% endtrans %}');"><i class="fa fa-trash"></i> {% trans %}Delete page{% endtrans %}</a>
                            </div>
                        </div>

                    </div>
                    <div class="card-block">
                        <div class="m-3 text-center">
                            <img src="/{{ page }}" alt="{% trans %}Screenshot of page{% endtrans %} {{ loop.index }}" class="border border-1">
                        </div>
                    </div>
                </div>

                {% endfor %}


        </div>

        
    </div>
        
</div>
{% endblock %}
